# Reading files using pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\countries of the world.csv")

In [3]:
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [4]:
df = pd.read_table(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\countries of the world.txt", sep=("\t"))
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [5]:
df = pd.read_table(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\countries of the world.csv", sep=(","))
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [10]:
df = pd.read_json(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\json_sample.json")
df

,12 Strong,A Fantastic Woman (Una Mujer FantÃ¡stica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,...,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...",...,"{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [8]:
df = pd.read_xml(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\039.xml")
df

,Version,MessageId,DateRequest,TimeRequest,RequestingSite,ServicingSite,TaskDescription,CtImageFile,SeriesInstanceUid,DateService,TimeService,ResponseDescription,StudyInstanceUID,annotationVersion,servicingRadiologistID,unblindedReadNodule,nonNodule
0,1.8,2980194.0,2005-10-26,00:00:00,removed,removed,Second unblinded read,removed,1.3.6.1.4.1.14519.5.2.1.6279.6001.267957701183...,2005-10-26,00:00:00,1 - Reading complete,1.3.6.1.4.1.14519.5.2.1.6279.6001.160881090830...,NaN,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
3,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
4,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n\t\t\t\t,\n\t\t\t\t

In [9]:
df = pd.read_xml(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\161-resubmitted-correction-3-9-12.xml")
df

,Version,MessageId,DateRequest,TimeRequest,RequestingSite,ServicingSite,TaskDescription,CtImageFile,SeriesInstanceUid,StudyInstanceUID,DateService,TimeService,ResponseDescription,ResponseComments,annotationVersion,servicingRadiologistID,unblindedReadNodule,nonNodule
0,1.7,1152727.0,2006-06-05,17:08:37,removed,removed,Second unblinded read,removed,1.3.6.1.4.1.14519.5.2.1.6279.6001.340202188094...,1.3.6.1.4.1.14519.5.2.1.6279.6001.584233139051...,2006-06-05,17:08:37,1 - Reading complete,"Merged, reader anonymized, unblinded responses",NaN,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n
3,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n
4,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n