# Reading files using pandas

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\countries of the world.csv")

In [9]:
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [10]:
df = pd.read_table(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\countries of the world.txt", sep=("\t"))
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [11]:
df = pd.read_table(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\countries of the world.csv", sep=(","))
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [12]:
df = pd.read_json(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\json_sample.json")
df

,12 Strong,A Fantastic Woman (Una Mujer FantÃ¡stica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,...,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...",...,"{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [13]:
df = pd.read_xml(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\039.xml")
df

,Version,MessageId,DateRequest,TimeRequest,RequestingSite,ServicingSite,TaskDescription,CtImageFile,SeriesInstanceUid,DateService,TimeService,ResponseDescription,StudyInstanceUID,annotationVersion,servicingRadiologistID,unblindedReadNodule,nonNodule
0,1.8,2980194.0,2005-10-26,00:00:00,removed,removed,Second unblinded read,removed,1.3.6.1.4.1.14519.5.2.1.6279.6001.267957701183...,2005-10-26,00:00:00,1 - Reading complete,1.3.6.1.4.1.14519.5.2.1.6279.6001.160881090830...,NaN,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
3,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
4,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n\t\t\t\t,\n\t\t\t\t

## Reading and Displaying XML Data as a Table
Let's read the XML file and display its contents as a table using pandas. This makes it easier to view and analyze the data.

In [14]:
# Display the XML data as a table
df

,Version,MessageId,DateRequest,TimeRequest,RequestingSite,ServicingSite,TaskDescription,CtImageFile,SeriesInstanceUid,DateService,TimeService,ResponseDescription,StudyInstanceUID,annotationVersion,servicingRadiologistID,unblindedReadNodule,nonNodule
0,1.8,2980194.0,2005-10-26,00:00:00,removed,removed,Second unblinded read,removed,1.3.6.1.4.1.14519.5.2.1.6279.6001.267957701183...,2005-10-26,00:00:00,1 - Reading complete,1.3.6.1.4.1.14519.5.2.1.6279.6001.160881090830...,NaN,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
3,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
4,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n\t\t\t\t,\n\t\t\t\t

In [15]:
# Display rows containing 'nodule' or 'non nodule' information
# Adjust the column name below to match the actual column containing this information
nodule_info = df[df.apply(lambda row: row.astype(str).str.contains('nodule', case=False).any(), axis=1)]
nodule_info

Empty DataFrame
Columns: [Version, MessageId, DateRequest, TimeRequest, RequestingSite, ServicingSite, TaskDescription, CtImageFile, SeriesInstanceUid, DateService, TimeService, ResponseDescription, StudyInstanceUID, annotationVersion, servicingRadiologistID, unblindedReadNodule, nonNodule]
Index: []

In [16]:
df = pd.read_xml(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\161-resubmitted-correction-3-9-12.xml")
df

,Version,MessageId,DateRequest,TimeRequest,RequestingSite,ServicingSite,TaskDescription,CtImageFile,SeriesInstanceUid,StudyInstanceUID,DateService,TimeService,ResponseDescription,ResponseComments,annotationVersion,servicingRadiologistID,unblindedReadNodule,nonNodule
0,1.7,1152727.0,2006-06-05,17:08:37,removed,removed,Second unblinded read,removed,1.3.6.1.4.1.14519.5.2.1.6279.6001.340202188094...,1.3.6.1.4.1.14519.5.2.1.6279.6001.584233139051...,2006-06-05,17:08:37,1 - Reading complete,"Merged, reader anonymized, unblinded responses",NaN,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n
3,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n
4,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,3.12,anonymous,\n,\n

In [17]:
df = pd.read_excel(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\world_population_excel_workbook.xlsx")
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÃ‚Â²),Density (per kmÃ‚Â²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃƒÂºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country                      234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (kmÃ‚Â²)                  234 non-null    int64
 14  Density (per kmÃ‚Â²)           234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [19]:
df.shape

(234, 17)

In [20]:
df.head(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÃ‚Â²),Density (per kmÃ‚Â²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45
6,224,AIA,Anguilla,The Valley,North America,15857,15585,14525,13172,11047,8316,6560,6283,91,174.2527,1.0066,0.00
7,201,ATG,Antigua and Barbuda,Saint JohnÃ¢â‚¬â„¢s,North America,93763,92664,89941,85695,75055,63328,64888,64516,442,212.1335,1.0058,0.00
8,33,ARG,Argentina,Buenos Aires,South America,45510318,45036032,43257065,41100123,37070774,32637657,28024803,23842803,2780400,16.3683,1.0052,0.57
9,140,ARM,Armenia,Yerevan,Asia,2780469,2805608,2878595,2946293,3168523,3556539,3135123,2534377,29743,93.4831,0.9962,0.03

In [21]:
df.tail(10)

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÃ‚Â²),Density (per kmÃ‚Â²),Growth Rate,World Population Percentage
224,43,UZB,Uzbekistan,Tashkent,Asia,34627652,33526656,30949417,28614227,24925554,20579100,15947129,12011361,447400,77.3975,1.0160,0.43
225,181,VUT,Vanuatu,Port-Vila,Oceania,326740,311685,276438,245453,192074,150882,118156,87019,12189,26.8061,1.0238,0.00
226,234,VAT,Vatican City,Vatican City,Europe,510,520,564,596,651,700,733,752,1,510.0000,0.9980,0.00
227,51,VEN,Venezuela,Caracas,South America,28301696,28490453,30529716,28715022,24427729,19750579,15210443,11355475,916445,30.8820,1.0036,0.35
228,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃƒÂºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [22]:
df[["Country", "Capital","Continent","2022 Population"]]

               Country           Capital Continent  2022 Population
0          Afghanistan             Kabul      Asia         41128771
1              Albania            Tirana    Europe          2842321
2              Algeria           Algiers    Africa         44903225
3       American Samoa         Pago Pago   Oceania            44273
4              Andorra  Andorra la Vella    Europe            79824
..                 ...               ...       ...              ...
229  Wallis and Futuna          Mata-Utu   Oceania            11572
230     Western Sahara         El AaiÃƒÂºn    Africa           575986
231              Yemen             Sanaa      Asia         33696614
232             Zambia            Lusaka    Africa         20017675
233           Zimbabwe            Harare    Africa         16320537

[234 rows x 4 columns]

In [23]:
# show a particular row data
df.loc[20]

Rank                                     177
CCA3                                     BLZ
Country                               Belize
Capital                             Belmopan
Continent                      North America
2022 Population                       405272
2020 Population                       394921
2015 Population                       359871
2010 Population                       322106
2000 Population                       240406
1990 Population                       182589
1980 Population                       145133
1970 Population                       120905
Area (kmÃ‚Â²)                            22966
Density (per kmÃ‚Â²)                   17.6466
Growth Rate                           1.0131
World Population Percentage             0.01
Name: 20, dtype: object

In [24]:
df.iloc[20]

Rank                                     177
CCA3                                     BLZ
Country                               Belize
Capital                             Belmopan
Continent                      North America
2022 Population                       405272
2020 Population                       394921
2015 Population                       359871
2010 Population                       322106
2000 Population                       240406
1990 Population                       182589
1980 Population                       145133
1970 Population                       120905
Area (kmÃ‚Â²)                            22966
Density (per kmÃ‚Â²)                   17.6466
Growth Rate                           1.0131
World Population Percentage             0.01
Name: 20, dtype: object

In [25]:
# Read the 039.xml file and display all data as a table
import pandas as pd
df_xml = pd.read_xml(r"D:\Data Analyst Bootcamp\Pandas for Data Analytics\data\039.xml")
df_xml

,Version,MessageId,DateRequest,TimeRequest,RequestingSite,ServicingSite,TaskDescription,CtImageFile,SeriesInstanceUid,DateService,TimeService,ResponseDescription,StudyInstanceUID,annotationVersion,servicingRadiologistID,unblindedReadNodule,nonNodule
0,1.8,2980194.0,2005-10-26,00:00:00,removed,removed,Second unblinded read,removed,1.3.6.1.4.1.14519.5.2.1.6279.6001.267957701183...,2005-10-26,00:00:00,1 - Reading complete,1.3.6.1.4.1.14519.5.2.1.6279.6001.160881090830...,NaN,None,None,None
1,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
3,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n,\n
4,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,3.12,anon,\n\t\t\t\t,\n\t\t\t\t